@import "./variables.css";

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* page */
body {
  font-family: Arial;
  color: var(--text-main);

  background:
    radial-gradient(circle at top left, rgba(123,97,255,0.2), transparent),
    linear-gradient(180deg, var(--bg-main), var(--bg-soft));
}

/* buttons */
button {
  cursor: pointer;
  border: none;
}


.primary-btn {
  background: var(--primary-gradient);
  padding: 12px 18px;
  border-radius: 999px;
  color: white;
}

/* logo */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-icon {
  width: 40px;
  height: 40px;
  background: var(--primary-gradient);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-text {
  color: #8fb0ff;
  font-weight: bold;
}